.signInWrapper {
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.signInWrapper .forgotPassword{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.signInDescription {
  color: var(--global-text);
  font-weight: 800;
  margin: 0 auto;
  font-size: xx-large;
}

.signInWrapper button {
  margin: 10px 0 !important;
}

.signInWrapper input {
  border-bottom: none !important;
  box-shadow: none !important;
  padding: 0 10px !important;
  margin: 8px 0 0 0 !important;
  color: var(--global-text);
}
