.landingImgWrapper {
  height: 700px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.imgWrapper {
  width: 100%;
  background: url("../../../../../public/landing.jpg") no-repeat center/100%;
  position: absolute;
  height: 700px;
  background-size: cover;
  filter: brightness(0.9) hue-rotate(00deg);
}

.landingImgTitle {
  z-index: 1;
  margin: 0 auto;
  font-size: 90px;
  font-weight: 900;
  letter-spacing: 10px;
  color: var(--global-text);
}

.landingImgDescription {
  z-index: 1;
  margin: 0 auto;
  width: 40%;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 2px;
  color: var(--global-text);
  transition: 0.5s;
}

.landingImgDescription:hover {
 transform: scale(1.1);
}
