.userProfilePage {
  display: flex;
  gap: 50px;
  margin: 10vh auto;
  justify-content: space-between;
  width: 90%;
}

.userProfileWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 40px;
}

.userProfileWrapper .avatarWrapper {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(var(--global-text), var(--global-nav-bar-color));
}

.userProfileWrapper .avatarWrapper label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.imgInput {
  display: none;
  width: 200px;
  height: 200px;
}

.avatar {
  margin: auto auto auto auto;
  width: 195px;
  height: 195px;
  border-radius: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.userProfileWrapper .shortInfo {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

.userProfileWrapper .shortInfo .paramWrapper {
  display: flex;
  justify-content: space-between;
  color: var(--global-text);
  font-weight: 600;
  font-size: large;
}

.userProfileWrapper .profileButtons {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}

.userProfileWrapper .classTitle {
  color: var(--global-text);
  margin: 0;
  font-weight: 700;
}
