.userProfileWrapper {
  display: flex;
  flex-direction: column;
  margin: 10vh auto;
  gap: 40px;
}

.userProfileWrapper .avatarWrapper {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(var(--global-text), var(--global-nav-bar-color));
}

.userProfileWrapper .shortInfo {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

.userProfileWrapper .shortInfo .paramWrapper {
  display: flex;
  justify-content: space-between;
  color: var(--global-text);
  font-weight: 600;
  font-size: large;
}

.userProfileWrapper .profileButtons {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}
